.letter {
	background: #fff;
	background-image: url("../../assets/images/paper-texture.jpg");
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin: 35px auto 35px;
	max-width: 1536px;
	min-height: 300px;
	padding: 24px;
	position: relative;
	width: 80%;
	@media (max-width: 768px) {
		margin: 10px auto 10px;
		width: 90%;
	}
	&:before {
		background: #fafafa;
		background-image: url("../../assets/images/paper-texture.jpg");
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		left: -5px;
		top: 4px;
		transform: rotate(-2.5deg);
	}
	&:after {
		background: #f6f6f6;
		background-image: url("../../assets/images/paper-texture.jpg");
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
		right: -3px;
		top: 1px;
		transform: rotate(1.4deg);
	}
	&:before,
	&:after {
		content: "";
		height: 98%;
		position: absolute;
		width: 100%;
		z-index: -1;
	}
	h1 {
		text-align: center;
		padding: 10px;
		margin-bottom: 15px;
		border-bottom: 1px solid #000;
	}
}

.hidden-overflow {
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: overlay;
}
