.introduction-section {
	background-image: url("../../../../assets/images/Intro-background.jpg");
	background-size: cover;
	min-height: 100vh;
	padding: 5vh;
	@media screen and (max-width: 576px) {
		padding: 2vh;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	.row {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 90vh;
		background-color: #000000d3;
		color: #ffffff;
		padding: 5vh;
		@media screen and (max-width: 576px) {
			padding: 2vh;
		}
		img {
			max-width: 640px;
			margin-bottom: 5vh;
		}
		p {
			font-size: 1.25rem;
			margin-bottom: 5vh;
			@media screen and (max-width: 576px) {
				font-size: 1rem;
			}
			backdrop-filter: blur(5px);
		}
	}
}
