.navbar {
	background-color: #000000;
	border-bottom: 5px solid #33b46d;
    border-right: 2px solid #33b46d;
    border-left: 2px solid #33b46d;
	min-height: 50px;
	position: relative;
	z-index: 1030;
    border-radius: 0px 0px 20px 20px;
}
