footer {
	background-color: black;
	color: white;
	border-top: 5px solid #33b46d;
	border-right: 2px solid #33b46d;
	border-left: 2px solid #33b46d;
	border-radius: 20px 20px 0px 0px;
	h3 {
		margin-bottom: -2px;
	}
	p {
		color: #969696;
	}
	.right-line {
		border-right: 1px solid #969696;
		@media screen and (max-width: 768px) {
			border-right: none;
		}
	}
	hr {
		background-color: #969696;
		border-top: 1px solid #969696;
	}
	.row {
		margin: 0px;
		padding: 0px;
	}

	.social {
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: normal;
		ul {
			position: relative;
			display: flex;
			margin-bottom: 0;
			padding-left: 0;
			li {
				position: relative;
				list-style: none;
				margin: 0 20px;
				@media screen and (max-width: 768px) {
					margin: 0 10px;
				}
				cursor: pointer;
				a {
					text-decoration: none;
					.fa-brands {
						font-size: 2.5rem;
						@media screen and (max-width: 384px) {
							font-size: 2rem;
						}
						color: #969696;
					}
					&::before {
						font-family: "FontAwesome";
						position: absolute;
						top: 0;
						left: 0;
						font-size: 2.5rem;
						@media screen and (max-width: 384px) {
							font-size: 2rem;
						}
						height: 0;
						overflow: hidden;
						transition: 0.5s ease-in-out;
					}
				}
				&:nth-child(1) {
					a {
						&::before {
							content: "\f082";
							color: #3b5998;
							border-bottom: 4px solid #3b5998;
						}
					}
				}
				&:nth-child(2) {
					a {
						&::before {
							content: "\f16d";
							background-image: linear-gradient(
								45deg,
								#f09433 0%,
								#e6683c 25%,
								#dc2743 50%,
								#cc2366 75%,
								#bc1888 100%
							);
							background-clip: text;
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
							border-bottom: 4px solid #dc2743;
						}
					}
				}
				&:nth-child(3) {
					a {
						&::before {
							content: "\f08c";
							color: #0077b5;
							border-bottom: 4px solid #0077b5;
						}
					}
				}
				&:nth-child(4) {
					a {
						&::before {
							content: "\f232";
							color: #25d366;
							border-bottom: 4px solid #25d366;
						}
					}
				}
				&:nth-child(5) {
					a {
						&::before {
							content: "\f099";
							color: #1da1f2;
							border-bottom: 4px solid #1da1f2;
						}
					}
				}
				&:hover {
					a {
						&::before {
							height: 100%;
						}
					}
				}
			}
		}
	}
	.links {
		.img-fluid {
			width: 50%;
			max-width: 300px;
		}
		ul {
			padding-left: 0;
			li {
				list-style: none;
				a {
					position: relative;
					text-decoration: none;
					color: #969696;
					&:hover::before {
						transform: scaleX(1);
					  }
					&:hover {
						color: #33b46d;
					}
					&::before {
						content: "";
						position: absolute;
						display: block;
						width: 100%;
						height: 1px;
						bottom: 0;
						left: 0;
						background-color: #33b46d;
						transform: scaleX(0);
						transform-origin: top left;
						transition: transform 0.5s ease;
					}
				}
			}
		}
	}
	.copyright {
		color: #969696;
	}
}
