.button {
	border: 2px solid #33b46d;
	border-radius: 20px 0px 20px 0px;
	background-color: #33b46d;
	transition: border-radius 500ms, border 500ms, transform 500ms,
		box-shadow 500ms ease;
	box-shadow: 3px 3px 2px 1px #c0c0c0;
	color: #fff !important;
	&:hover {
		box-shadow: 3px 3px 2px 1px #00d660;
		transform: translateX(10px);
		border: 2px solid #c0c0c0;
		border-radius: 0px 20px 0px 20px;
		background-color: #33b46d;
	}
}
